/* css reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    padding: 0 36px;
}
li{
    text-align: center;
    align-content: center;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 10px 18px #a8a8a8;
    text-shadow: 2px 2px 8px #000;
    border-color: transparent;
}
h1{
    text-shadow: 3px 3px 8px #0000FF;
}
/* Utils */

.container{
    margin: 0 auto;
    box-shadow: 5px 7px 18px #888;
}